<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body id="body">
<!-- MENU-->
    <nav th:fragment="menu">
		<div id="menu">
			<a th:href="@{/homeCliente}"><img id="menuLogo" th:src="@{/img/menu/logo.png}" alt="TotvsConecta"/></a>
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			
			<a style="text-decoration:none" th:href="@{/homeCliente/acompanhamentoCliente}">
				<img class="menuIcon" th:src="@{/img/menu/acompanhamento.png}" alt="Acompanhamento">
				<span class="menuLink">Acompanhamento</span>
			</a>
			
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<img id="menuUserIcon" onclick="VisibilidadePainelUser()" th:src='@{/img/menu/userIcon.png}'>
			<div id="menuDivSair">
				<form action="/logout" method="post">
					<button id="menuSair" type="submit">Sair</button>
					<input type="hidden" th:name="${_csrf.parameterName}"th:value="${_csrf.token}" />
				</form>
			</div>
			<img id = "menuSeparacaoADireita"class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}" />
			<div id="menuSaldacao">
				<label>Bem vindo(a),  </label> <label th:text="${#httpServletRequest.getAttribute('nome')}"></label>
			</div>
		</div>
		<div id="menuLinhaInferior"></div>
		<div id="menuSelecaoDeCor">
		   <div id="menuCaixaDeSelecao">
			   <span id="menuCorDosPaineis">Cor dos painéis</span>
			  <label>
			   		<input id="fundo1" name="fundo" type="radio" class="menuSelecaoCorDosPaineis" onclick="imagem1()"> 
			   		<img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel1.png}">
			   	</label><br>
			   	<label>
				   <input id="fundo2" name="fundo" type="radio" class="menuSelecaoCorDosPaineis" onclick="imagem2()"> 
				   <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel2.png}">
			   	</label><br>
			   	<label>
				   <input id="fundo3" name="fundo" type="radio" class="menuSelecaoCorDosPaineis" onclick="imagem3()"> 
				   <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel3.png}">
			   	</label><br>
			   	<label>
				   <input id="fundo4" name="fundo" type="radio"  class="menuSelecaoCorDosPaineis" onclick="imagem4()"> 
				   <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel4.png}">
			   	</label>
			</div>
			<img th:src="@{/img/menu/caixaDeSelecaoDeCor.png}">
		</div>
	</nav>
	<!-- MENU-->
    
    
</body>
</html>