<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body id="body">
<!-- MENU-->
    <nav th:fragment="menu">
		<div id="menu">
			<a th:href="@{/homeLider}">
				<img id="menuLogo" th:src="@{/img/menu/logo.png}" alt="TotvsConecta"/>
			</a>
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<a style="text-decoration:none" th:href="@{/homeLider}">
				<img class="menuIcon" th:src="@{/img/menu/agendamento.png}" alt="Agendamentos">
				<span class="menuLink">Agendamentos</span>
			</a>
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<a style="text-decoration:none" th:href="@{/homeLider/pedidos}">
				<img class="menuIcon" th:src="@{/img/menu/pedido.png}" alt="Projetos">
				<span class="menuLink">Pedidos</span>
			</a>
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<a style="text-decoration:none" th:href="@{/homeLider/alocacoes}">
				<img class="menuIcon" th:src="@{/img/menu/alocacao.png}" alt="Projetos">
				<span class="menuLink">Alocações</span>
			</a>
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<a style="text-decoration:none" th:href="@{/homeLider/agendamentosReprovados}">
				<img class="menuIcon" th:src="@{/img/menu/reprovado.png}" alt="Projetos">
				<span class="menuLink">Reprovações</span>
			</a>
				<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<a style="text-decoration:none" th:href="@{/homeLider/gerenciaProjetos}">
				<img class="menuIcon" th:src="@{/img/menu/projeto.png}" alt="Projetos">
				<span class="menuLink">Projetos</span>
			</a>
				<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			<a style="text-decoration:none" th:href="@{/homeLider/relatorios}">
				<img class="menuIcon" th:src="@{/img/menu/relatorio.png}" alt="Relatorios">
				<span class="menuLink">Relatórios</span>
			</a>
			
			
			<img class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}"/>
			
			<img id="menuUserIcon" onclick="VisibilidadePainelUser()" th:src='@{/img/menu/userIcon.png}'>
			<div id="menuDivSair">
				<form action="/logout" method="post">
					<button id="menuSair" type="submit">Sair</button>
					<input type="hidden" th:name="${_csrf.parameterName}"th:value="${_csrf.token}" />
				</form>
			</div>
			<img id = "menuSeparacaoADireita"class="menuLinhaDeSeparacaoMenu" th:src="@{/img/menu/linhaDeSeparacaoMenu.png}" />
			<div id="menuSaldacao">
				<label>Bem vindo(a), </label> <label th:text="${#httpServletRequest.getAttribute('nome')}"></label>
			</div>
			
		</div>
		<div id="menuLinhaInferior"></div>
		<div id="menuSelecaoDeCor">
		   <div id="menuCaixaDeSelecao">
			   <span id="menuCorDosPaineis">Cor dos paineis</span>
			   <div class="menuSelecaoCorDosPaineis" onclick="imagem1()"> <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel1.png}"></div>
			   <div class="menuSelecaoCorDosPaineis" onclick="imagem2()"> <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel2.png}"></div>
			   <div class="menuSelecaoCorDosPaineis" onclick="imagem3()"> <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel3.png}"></div>
			   <div class="menuSelecaoCorDosPaineis" onclick="imagem4()"> <img class="menuImagenSelecaoCorDosPaines" th:src="@{/img/menu/painel4.png}"></div>
			</div>
			<img th:src="@{/img/menu/caixaDeSelecaoDeCor.png}">
		</div>
	</nav>
	<!-- MENU-->
    
    
</body>
</html>