.fundo{
	background-color: rgba(249,249,249,0.6);
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	padding: 17px;
	position: static;
	margin: 20px;
	z-index: -1;
}

#rolagem {
	height: 70vh;
	width: 44vw;
}

#rolagemListaPedidos{
	height: 32vw;
}

#rolagemListaAgendamentos{
	height: 32vw;
}
th {
 	align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 16px;
    padding-left:18px;
}

thead
{
    border: 2px;
}
table{
    width:90%;
}
tr:nth-child(odd) {
    background: white;
}

.tamanho{
	height:40vw;
}