
body{
    background-image: url("../img/Login%20do%20cliente@2x.png");
    background-repeat: no-repeat;

    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: white;
    }

input{
    border-radius: 30px;
    height: 2.5vw;
    width: 20vw;
    border-width: 3px;
    border-style: solid;
    border-color: #37B6C4;
    opacity: 0.5;
    font-size: 20px;
    font-family: 'Lato', sem serifa;
}

button{    
    background: #37B6C4;
    font-size: 2.2vw;
    font-family: 'Lato', sem serifa;
    color: black;
    border-radius:30px;
    height: 3.4vw;
    width: 14vw;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color:#397E88;
    padding-left: 2%;
    margin-left: 1%;
    
}

.div{
    margin-top: 17%;
    margin-bottom: 11%;
    margin-right: 2%;
    height: 35%;
    width: 50%;
    float: right;
}

.logo{
    
    height: 15%;
    width: 27%;
    margin: 24%;
    margin-left: 15%;
    float: left;
}

.iconInputUsername
{
    background-image: url(../img/IconCliente@2x.png);
    background-repeat: no-repeat;
    background-size: 9% 79%;
    background-position: 5%;
    padding-left:10%; 
    
}
.iconInputPassword
{
    background-image: url(../img/IconKey@2x.png);
    background-repeat: no-repeat;
    background-size: 12% 60%;
    background-position: 5%;
    padding-left:10%; 
    
}
.border:hover
{
    border-color: #EA9B3E;
    box-shadow: inset 0 0 0 25px #EA9B3E;
}
/.borderInput:hover
{
border-color: #EA9B3E;
opacity: 1;
/*background-color:  #ADD86C;*/    
    
}