#content{
	margin: 0px!important;
}

#fundoListaDisponibilidade{
	margin-bottom: 0px;
	width: 70vw;
}

#rolagemListaDisponibilidade{
	height: 80vh;
}

#minhaTabela tr td{
	cursor: pointer;
}

#minhaTabela tr:hover td{
	background-color: #ea9b3e;
}

#minhaTabela tr.selecionado td{
	background-color: #29b6c5;
}

.escondidoNaLista{
	display: none;
}

.seletor{
	height: 88.2vh;
	width: 25vw;
	float: right;
	margin-top: 15px !important;
}

#botoesCentralizadosSeletor{
	margin-top: 30vh;
}

#botoesCentralizadosSeletor > button{
	margin-bottom: 10px;
	font-size: 20px;
}

#pedido{
	display: none;
}

.formPedidoEAgendamento{
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 20px;
	text-align: left;
}

.formPedidoEAgendamento > label{
	font-size: 20px;
	margin-top: 20px;
}

.formPedidoEAgendamento > input{
	width: 100%;
}

.formPedidoEAgendamento > select{
	width: 100%;
}

.formPedidoEAgendamento > button{
	margin-top: 10%;
	margin-left: 33%;
	font-size: 20px;
	padding: 5px 30px 5px 30px;
	border-radius: 100%;
}

.inputDeHoras {
	text-align: center;
	padding-left: 40px;
}

#buttonPedido{
	padding-left: 40px;
	padding-right: 40px;
}

#agendamento{
	display: none;
}

#seletor{
	display: unset;
	margin-left: 40px;
}