body{
    background-image: url("../img/fundoLogin.png");
    background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 0px 0px 0px;
    /*bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: white;
    */
}

#logoTotvs{
	position: relative;
    top: 40vh;
    left: 5vw;
}

input{
    border-radius: 30px;
    height: 2.5vw;
    width: 20vw;
    border-width: 3px;
    border-style: solid;
    border-color: #37B6C4;
    opacity: 0.5;
    font-size: 15px;
    font-family: Tahoma;
    outline: 0;
    padding-left: 60px;
}

#btnLogin{    
    background: #37B6C4;
    font-size: 1.5vw;
    font-family: Tahoma;
    color: black;
    border-radius:37px;
    height: 3.4vw;
    width: 13vw;
    cursor: pointer;
    border-width: 3px !important;
    border-style: solid !important;
    border-color:#397E88 !important;
    text-align: center;
    outline: 0;
}

#btnLogin:hover{
	border-color: #EA9B3E !important;
	opacity: 1;
	background-color:#EA9B3E;   
}

#divForm
{       
    height: 35%;
    width: 50%;
    margin-right:20px;
    float: right;
    margin-left: 30%;
}


.logo{
    
    height: 15%;
    width: 27%;
    margin: 24%;
    margin-left: 15%;
    float: left;
}

#email{
    background-image: url(../img/IconCliente@2x.png);
    background-repeat: no-repeat;
    background-size: 8% 69%;
    background-position: 5%;
    
}
#password
{
    background-image: url(../img/IconKey@2x.png);
    background-repeat: no-repeat;
    background-size: 9% 53%;
    background-position: 5%;
    
}

#formLogin{
    align-items: center;
    text-align: center;
    width: 500px;
    float:right;
    position: relative;
    top: 40vh;
    right: 9.6vw;
}
.borda:hover
{
    border-color: #EA9B3E;
    opacity: 0.9;
}
.focus:focus {
  background-color: white;
    opacity: 0.9;
    border-color: #EA9B3E;
    
}