<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">   

<title>Acompanhamento | Cliente</title>
    
<link rel="stylesheet" type="text/css" href="../static/css/acompanhamento.css" th:href="@{/css/acompanhamento.css}" />
<th:block th:replace="fragments/head :: head"></th:block>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="menuBody">

<input id="consulta" type="text">
	<div class="fundo" id="acompanhamentoDireita">
		<h2>Pedidos Realizados</h2>
		<div id="rolagemAcompanhamento">
			<table id="tabela">
				<thead>
					<tr>
						<th>Cod</th>
						<th>Título do Pedido</th>
						<th>Projeto</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pedidosRealizados}">
						<td th:text="${p.idPedido}"></td>
						<td th:text="${p.titulo}"></td>
						<td th:text="${p.projeto.nome}"></td>
						<td th:text="${p.status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="fundo" id="acompanhamentoEsquerda">
		<h2>Agendamentos Realizados</h2>
		<div id="rolagemAcompanhamento">
			<table>
				<thead>
					<tr>
						<th>Cod</th>
						<th>Título do Agendamento</th>
						<th>Projeto</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="a : ${agendamentosCriados}">
						<td th:text="${a.idAgendamento}"></td>
						<td th:text="${a.pedido.titulo}"></td>
						<td th:text="${a.pedido.projeto.nome}"></td>
						<td th:text="${a.pedido.status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>