<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: head"></th:block>
<meta charset="UTF-8">
<title>Reprovados | Líder</title>
</head>
<body id="menuBody">
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>
	<div class="fundo" id="fundoUmaTabelaNaPaginaToda">
		<h2>Agendamentos Reprovados</h2>
		<div class="rolagem" id="rolagemUmaTabelaNaPaginaToda">
			<table>
				<thead>
					<tr>
						<th class="alinhadoADireita">Cód.</th>
						<th class="alinhadoADireita">Data</th>
						<th class="alinhadoAEsquerda">Consultor</th>
						<th class="alinhadoAEsquerda">Projeto</th>
						<th class="justificado">Título</th>
						<th class="justificado">Motivo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${reprovados}">
						<td class="alinhadoADireita" th:text="${r.idReprovado}"></td>
						<td class="alinhadoADireita" th:text="${r.logData}">
						<td class="alinhadoAEsquerda"
							th:text="${r.agendamento.disponivel.consultor.nome}"></td>
						<td class="alinhadoAEsquerda"
							th:text="${r.agendamento.pedido.projeto.nome}"></td>
						<td class="justificado" th:text="${r.agendamento.pedido.titulo}"></td>
						<td class="justificado" th:text="${r.motivo}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
	// retorna cor menu parametrizável
	const fundo1 = window.localStorage.getItem('fundo1');
	const fundo2 = window.localStorage.getItem('fundo2');
	const fundo3 = window.localStorage.getItem('fundo3');
	const fundo4 = window.localStorage.getItem('fundo4');
	
	if(fundo1){
		document.body.style.backgroundImage = fundo1
		document.getElementById("fundo1").checked = true;
	}
	else if(fundo2){
		document.body.style.backgroundImage = fundo2
		document.getElementById("fundo2").checked = true;
	}
	else if(fundo3){
		document.body.style.backgroundImage = fundo3
		document.getElementById("fundo3").checked = true;
	}
	else if(fundo4){
		document.body.style.backgroundImage = fundo4
		document.getElementById("fundo4").checked = true;
	}
	
	</script>
</body>
</html>