<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: head"></th:block>
<meta charset="UTF-8">
<title>Reprovados | Líder</title>
</head>
<body id="menuBody">
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>
	<div class="fundo" id="fundoUmaTabelaNaPaginaToda">
		<h2>Agendamentos Reprovados</h2>
	<div class="rolagem" id="rolagemUmaTabelaNaPaginaToda">
		<table>
			<thead>
				<tr>
					<th class="centralizado">Cód.</th>
					<th class="aEsquerda">Data</th>
					<th class="aEsquerda">Consultor</th>
					<th class="aEsquerda">Projeto</th>
					<th class="justificado">Título</th>
					<th class="justificado">Motivo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r : ${reprovados}">
					<td class="centralizado" th:text="${r.idRecusado}"></td>
					<td class="aEsquerda" th:text="${r.data}">
					<td class="aEsquerda" th:text="${r.agendamento.disponivel.consultor.nome}"></td>
					<td class="aEsquerda" th:text="${r.agendamento.pedido.projeto.nome}"></td>
					<td class="justificado" th:text="${r.agendamento.pedido.titulo}"></td>
					<td class="justificado" th:text="${r.motivo}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>

</body>
</html>