<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: head"></th:block>
<meta charset="UTF-8">
<title>Alocações | Líder</title>
</head>
<body id="menuBody">
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>
	<div class="fundo" id="fundoUmaTabelaNaPaginaToda">
		<h2>Alocações</h2>
		<div class="rolagem" id="rolagemUmaTabelaNaPaginaToda">
			<table>
				<thead>
					<tr>
						<th class="aDireita">Cód.</th>
						<th class="aDireita">Data</th>
						<th class="aDireita">Hora Início</th>
						<th class="aDireita">Hora Fim</th>
						<th class="aEsquerda">Consultor</th>
						<th class="aEsquerda">Projeto</th>
						<th class="justificado">Título</th>
						<th class="justificado">Motivo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="a : ${aprovados}">
						<td class="aDireita" th:text="${a.idAlocacao}"></td>
						<td class="aDireita" th:text="${a.data}"></td>
						<td class="aDireita" th:text="${a.horaInicio}"></td>
						<td class="aDireita" th:text="${a.horaFim}"></td>
						<td class="aEsquerda" th:text="${a.agendamento.disponivel.consultor.nome}"></td>
						<td class="aEsquerda" th:text="${a.agendamento.pedido.projeto.nome}"></td>
						<td class="justificado" th:text="${a.agendamento.pedido.titulo}"></td>
						<td class="justificado" th:text="${a.motivo}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>