<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body id="menuBody" style="background-image:url('/img/menu/fundo1.png')!important">
	<div th:replace="fragments/menu :: menu"></div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Cod</th>
					<th>Título do Pedido</th>
					<th>Descrição do Pedido</th>
					<th>Cliente</th>
					<th>Produto</th>
					<th>Selecionar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${pedidos}">
					<td th:text="${p.idPedido}"></td>
					<td th:text="${p.titulo}"></td>
					<td th:text="${p.descricao}"></td>
					<td th:text="${p.projeto.cliente.nome}"></td>
					<td th:text="${p.projeto.produto}"></td>
					<td>
						<button type="button">Selecionar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>