<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
	<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body id="menuBody" style="background-image:url('/img/menu/fundo1.png')!important">

	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>
	<!-- Todos id e class de menu começam com menuAlgumacoisa então evite usar menu na frente de seus ids ou class-->
	
	<div id="fundoUmaTabelaNaPaginaToda"class="fundo">
		<h2>Pedidos</h2>
		<div id="rolagemUmaTabelaNaPaginaToda" class="rolagem">
			<table>
				<thead>
					<tr>
						<th>Cod</th>
						<th>Título do Pedido</th>
						<th>Descrição do Pedido</th>
						<th>Cliente</th>
						<th>Produto</th>
						<th>Selecionar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pedidos}">
						<td th:text="${p.idPedido}"></td>
						<td th:text="${p.titulo}"></td>
						<td th:text="${p.descricao}"></td>
						<td th:text="${p.projeto.cliente.nome}"></td>
						<td th:text="${p.projeto.produto}"></td>
						<td>
						<form action="/homeLider/alocacao/alocar" method="POST">
						<input name="">
							<button type="submit" name="IdPedido" th:value="${p.IdPedido}">Alocar</button>
							<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>











