<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gerenciamento de Projetos | Líder</title>
	<link rel="icon" type="imagem/png" href="../static/img/logo.png" th:href="@{../static/img/logo.png}"/>
	<link href="../static/css/DesignP.css" 
	th:href="@{../static/css/DesignP.css}" rel="stylesheet"/>
	<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body id="menuBody" style="background-image:url('/img/menu/fundo1.png')!important">
	<div th:replace="fragments/menu :: menu"></div>
	<div>
	<table>
		<thead>
			<tr>
				<th>Código do Projeto</th>
				<th>Projeto</th>
				<th>Código do Cliente</th>
				<th>Cliente</th>
				<th>Horas   </th>
                <th>        </th>
			</tr>			
		</thead>
		<tbody>
			<tr th:each ="p : ${projetos}">
				<td th:text="${p.codigoProjeto}"></td>
				<td th:text="${p.nome}"></td>
				<td th:text="${p.cliente.codigo}"></td>
				<td th:text="${p.cliente.nome}"></td>
				<td th:text="${p.qtdCreditos}"> <div class="divP"><label>aaaa</label></div></td>
				<td>
                    <button type="button: hover" class="">Atualizar</button>				
                </td>
			</tr>
                
		</tbody>
	</table>
	</div>
</body>
</html>