<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Gerenciamento de Projetos | Líder</title>
	<link rel="icon" type="imagem/png" href="../static/img/logo.png" th:href="@{../static/img/logo.png}"/>
	<link href="../static/css/gestaoDeProjetos.css" 
	th:href="@{../static/css/gestaoDeProjetos.css}" rel="stylesheet"/>
	
	<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
	<th:block th:replace="fragments/head :: head"></th:block>
	
</head>
<body onload="aberturaDoPopUp()" id="menuBody">
	
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>
	<!-- Todos id e class de menu começam com menuAlgumacoisa então evite usar menu na frente de seus ids ou class-->
	
	<div class="modal fade" id="avisoModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5>aviso</h5>
				</div>
				<div class="modal-body">
					<div th:if="${param.atualizado}">
						<p>Créditos atualizados com sucesso!</p>
					</div>
				</div>
				<div class="modal-footer">
					<button onclick="fecharPopUp" class="btn btn-default" value="Close"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fundoUmaTabelaNaPaginaToda"class="fundo">
		<h2>Gerencia de projetos</h2>
		<div id="rolagemUmaTabelaNaPaginaToda" class="rolagem">
			<table>
				<thead>
					<tr>
						<th>Código do Projeto</th>
						<th>Projeto</th>
						<th>Código do Cliente</th>
						<th>Cliente</th>
						<th>Creditos</th>
						<th>Atualiazar Créditos</th>
					</tr>			
				</thead>
				<tbody>
					<tr th:each ="p : ${projetos}">
						<td th:text="${p.codigoProjeto}"></td>
						<td th:text="${p.nome}"></td>
						<td th:text="${p.cliente.codigo}"></td>
						<td th:text="${p.cliente.nome}"></td>
						<td th:text="${p.qtdCreditos}"> <div class="divP"><label>aaaa</label></div></td>						
						<td>
							<form action="/homeLider/gerenciaProjetos/atualizar" method="POST">
								<input type="text" name="qtdCreditos">
		                    	<button type="submit" name="idProjeto" th:value="${p.idProjeto}">Atualizar</button>
		                    	<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
		                	</form>				
		                </td>
					</tr>	                
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
	 function aberturaDoPopUp() {
		 	var url_atual = window.location.href
		 	
		 	var sucessoNaUrl = url_atual.indexOf("atualizado")
		 	
		 	var modal = document.getElementById('avisoModal')
		 	
		 	
		 	if(sucessoNaUrl != -1 || erroNaUrl != -1 ){
		 		$("#avisoModal").modal('show');
		 	}
		 }
		 
		 function fecharPopUp(){
			 $("#avisoModal").modal('hide');
		 }
	</script>
</body>
</html>