<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Home | Lider</title>
	<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body id="menuBody" style="background-image:url('img/menu/fundo1.png')">
	<div th:replace="fragments/menu :: menu"></div>
	<div>
		<h1>
			<span sec:authentication="principal.nome"></span>, Bem vindo ao	sistema!
		</h1>
	</div>
	<div>
	<h2>Aprovações</h2>
	<table>
		<thead>
			<tr>
				<th>Cod</th>				
				<th>Título do Agendamento</th>
				<th>Descrição do Agendamento</th>
				<th>Projeto</th>
				<th>Produto</th>
				<th>Consultor</th>
				<th>Horas</th>
				<th>aprovar</th>
			</tr>			
		</thead>
		<tbody>
			<tr th:each = "a : ${agendamento}">
				<td th:text="${a.idAgendamento}"></td>
				<td th:text="${a.pedido.titulo}"></td>
				<td th:text="${a.pedido.descricao}"></td>
				<td th:text="${a.pedido.projeto.nome}"></td>
				<td th:text="${a.pedido.projeto.produto}"></td>
				<td th:text="${a.consultor.nome}"></td>
				<td th:text="${a.pedido.sugestaoDeHoras}"></td>
				<td>
					<button type="button">Aprovar</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>