<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home | Cliente</title>
<link rel="stylesheet" type="text/css" media="screen"
	th:href="@{/css/homeCliente.css}">

<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
<th:block th:replace="fragments/head :: head"></th:block>

</head>
<body id="menuBody">

	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuCliente :: menu"></div>
	<!-- Todos id e class de menu começam com menuAlgumacoisa então evite usar menu na frente de seus ids ou class-->
	
	<div id="selecao" class="seletor fundo">
		<h2>Criar</h2>
		<div id="botoesCentralizadosSeletor">
		<button onclick="abreAgendamento()">Agendamento</button>
		<br>
		<button onclick="abrePedido()" id="buttonPedido">Pedido</button>
		</div>
	</div>

	<div id="agendamento" class="fundo seletor">
		<button onclick="abreSeletor()" class="botaoDeFechar">X</button>
		<h2>Agendamento</h2>
		<form class="formPedidoEAgendamento" action="/homeCliente/criaragendamento" method="post">
			<Label>Título</Label> <br> <input type="text" th:field="${pedido.titulo}"><br>
			<Label>Descrição</Label> <br> <input type="text"th:field="${pedido.descricao}"><br>
			<label> Codigo do Consultor</label><br><input type="text" th:field="${agendamento.disponivel}"><br>
			<Label>Sugestão de Horas</Label> <br> <input class="inputDeHoras" type="time" th:field="${pedido.sugestaoDeHoras}"><br>
			<label>Projeto</label><br>
			<select th:field="${pedido.projeto}" name="idProjeto">
				<option value="">Escolha o projeto</option>
				<option th:each="p : ${projeto}" th:value="${p.idProjeto}"
					th:text="${'Nome: ' + p.nome + ' | Créditos: ' + p.qtdCreditos}">
				</option>
			</select><br>
			<button>Salvar</button>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>

	<div id="pedido" class="fundo seletor">
		<button onclick="abreSeletor()" class="botaoDeFechar">X</button>
		<h2>Pedido</h2>
		<form class="formPedidoEAgendamento" action="/homeCliente/criarpedido" method="post"
			th:object="${pedido}">
			<Label>Título</Label> <br> <input name="titulo"><br> 
			<Label>Descrição</Label> <br> <input name="descricao"><br>
			<Label>Sugestão de Horas</Label> <br> <input class="inputDeHoras" type="time" name="sugestaoDeHoras"><br> 
			<label>Projeto</label> <br> <select th:field="*{projeto}" name="idProjeto"><br>
				<option value="">Escolha o projeto</option>
				<option th:each="p : ${projeto}" th:value="${p.idProjeto}"
					th:text="${'Nome: ' + p.nome + ' | Créditos: ' + p.qtdCreditos}">
				</option>
			</select>
			<br> 
			<button>Salvar</button> 
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>

	<div id="fundoListaDisponibilidade" class="fundo">
		<h2>Lista de disponibilidade</h2>
		<div id="rolagemListaDisponibilidade" class="rolagem">
			<table id="minhaTabela">
				<thead>
					<tr>
						<th>Cód.</th>
						<th>Consultor</th>
						<th>Hora início</th>
						<th>Hora fim</th>
						<th>Créditos / h</th>
						<th>Habilidades</th>
						<th class="escondidoNaLista">Habilidade Principal</th>
						<th class="escondidoNaLista">Habilidade Especifica</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="d : ${disponiveis}" onclick="selLinha(this, false)">
						<!-- 					<td th:text="${d.consultor.idUsuario}"></td> -->
						<td th:text="${d.idDisponivel}"></td>
						<td th:text="${d.consultor.nome}"></td>
						<td th:text="${d.horaInicio}"></td>
						<td th:text="${d.horaFim}"></td>
						<td th:text="${d.consultor.creditosPorHora}"></td>
						<td><img alt="" th:src="@{/img/homeCliente/info.svg}"></td>
						<td class="escondidoNaLista">
							<table>
								<tbody>
									<tr th:each="h : ${d.consultor.habilidadesEspecificas}">
										<td
											th:text="${h.habilidadesPrincipais.nomeHabilidadePrincipal}"></td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<table class="escondidoNaLista">
								<tbody>
									<tr th:each="h : ${d.consultor.habilidadesEspecificas}">
										<td th:text="${h.nomeHabilidadeEspecifica}"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button id="visualizarDados" onclick="Visualizar()">visualizar</button>
	</div>
	
	<script type="text/javascript">
	function abrePedido(){
		var pedido = document.getElementById("pedido");
		var selecao = document.getElementById("selecao");
		pedido.style.display = "block"
		selecao.style.display = "none"
	}
	
	function abreAgendamento(){
		var agendamento = document.getElementById("agendamento");
		var selecao = document.getElementById("selecao");
		agendamento.style.display = "block"
		selecao.style.display = "none"
	}
	
	function abreSeletor(){
		var pedido = document.getElementById("pedido");
		var agendamento = document.getElementById("agendamento");
		var selecao = document.getElementById("selecao");
		agendamento.style.display = "none"
		pedido.style.display = "none"
		selecao.style.display = "block"
	}
	
	// pop-up
	
	var tabela = document.getElementById("minhaTabela");
	var linhas = tabela.getElementsByTagName("tr");
	
	for(var i = 0; i < linhas.lenght; i++){
		var linha = linhas[i];
		linha.addEventListener("click", function(){
			selLinha(this, false);	
		});
	}
	
	function selLinha(linha, multiplos){
		if(!multiplos){
		  	var linhas = linha.parentElement.getElementsByTagName("tr");
		        for(var i = 0; i < linhas.length; i++){
		           var linha_ = linhas[i];
		           linha_.classList.remove("selecionado");    
		        }
		  }
		linha.classList.toggle("selecionado");
		
		Visualizar();
	}
	
	function Visualizar(){
		var selecionados = tabela.getElementsByClassName("selecionado");
		if(selecionados.lenght < 1){
			alert("Selecione pelo menos uma linha");
			return false;
		}
		
		var dados = "";
		
		for(var i =0; i < selecionados.length; i++){
			var selecionado = selecionados[i];
			selecionado = selecionado.getElementsByTagName("td");
			dados += "teste" + selecionado[0].innerHTML + selecionado[1].innerHTML +
			selecionado[2].innerHTML + selecionado[3].innerHTML + selecionado[4].innerHTML +
			selecionado[5].innerHTML;
		}
		alert(dados);
	}
	</script>
</body>
</html>
