<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home | Lider</title>
</head>
<body>
	<div>
	<table>
		<thead>
			<tr>
				<th>Cod</th>
				<th>Título da Demanda</th>
				<th>Produto</th>
				<th>Projeto</th>
				<th>Descrição da Demanda</th>
				<th>Candidatar</th>
			</tr>			
		</thead>
		<tbody>
			<tr th:each = "d : ${demandas}">
				<td th:text="${d.idDemanda}"></td>
				<td th:text="${d.titulo}"></td>
				<td th:text="${d.projeto.produto}"></td>
				<td th:text="${d.projeto.cliente.nome}"></td>
				<td th:text="${d.descricao}"></td>
				<td>
					<button type="button">Candidatar-se</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>