<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home | Consultor</title>

<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
<th:block th:replace="fragments/head :: head"></th:block>

</head>
<body id="menuBody" style="background-image:url('img/menu/fundo1.png')">
	
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuSemBotao :: menu"></div>
	<!-- Todos id e class de menu começam com menuAlgumacoisa então evite usar menu na frente de seus ids ou class-->

	<div>
		<h2>Pedidos</h2>
		<table>
			<thead>
				<tr>
					<th>Cod</th>
					<th>Título do Pedido</th>
					<th>Descrição</th>
					<th>Projeto</th>
					<th>Produto</th>
					<th>Horas</th>
					<th>Candidatar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${pedido}">
					<td th:text="${p.idPedido}"></td>
					<td th:text="${p.titulo}"></td>
					<td th:text="${p.descricao}"></td>
					<td th:text="${p.projeto.nome}"></td>
					<td th:text="${p.projeto.produto}"></td>
					<td th:text="${p.sugestaoDeHoras}"></td>
					<td>
						<form action="/homeConsultor/candidatar" method="POST">
							<button type="submit" name="idPedido" th:value="${p.idPedido}">Candidatar-se</button>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Apontar Ociosidade</h2>

		<div th:if="${param.sucesso}">
			<div>Apontamento realizado com sucesso!</div>
			<br> <br>
		</div>
		<div th:if="${param.falha}">
			<div>Não é possível apontar duas vezes no mesmo dia!</div>
			<br> <br>
		</div>

		<form action="/homeConsultor/apontar" method="POST">
			<label>Hora início:</label> <input type="text" name="horaInicio">
			<label>Hora fim:</label> <input type="text" name="horaFim">
			<button type="submit">Gravar</button>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>

	<div>

		<h2>Candidaturas</h2>
		<table>
			<thead>
				<tr>
					<th>Título do Pedido</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pC : ${pedidoCandidatado}">
					<td th:text="${pC.pedido.titulo}"></td>
					<td th:text="${pC.pedido.status}"></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div>
		
	</div>

</body>
</html>