<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home | Líder</title>
<link rel="stylesheet" type="text/css" media="screen"
	th:href="@{/css/homeLider.css}" />

<script type="text/javascript" th:src="@{js/homeLider.js}"></script>

<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
<th:block th:replace="fragments/head :: head"></th:block>
</head>
<!--Sera substituido pelo fragmento do menu-->
<div th:replace="fragments/menuLider :: menu"></div>

<body onload="aberturaDoPopUp()" id="menuBody"
	style="background-image: url('img/menu/fundo1.png')">
	<div class="modal fade" id="avisoModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div id="cabecalhoModal" class="modal-header">
					<h5>Aviso:</h5>
				</div>
				<div id="corpoModal" class="modal-body">
					<div th:if="${param.aprovado}">
						<p>Agendamento aprovado com sucesso!</p>
					</div>
					<div th:if="${param.reprovado}">
						<p>Agendamento reprovado com sucesso!</p>
					</div>
				</div>
				<div class="modal-footer">
					<button onclick="fecharPopUp" class="btn btn-default" value="Close"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="row">
		<div class="aEsquerda col-lg-8">
			<div class="fundo">
				<h2>Agendamentos</h2>
				<div id="rolagemAgendamentos" class="rolagem">
					<table id="Agendamentos">
						<thead>
							<tr>
								<th class="aDireita">Cód.</th>
								<th class="aEsquerda">Título do Agendamento</th>
								<th class="aEsquerda">Descrição do Agendamento</th>
								<th class="aEsquerda">Projeto</th>
								<th class="aEsquerda">Produto</th>
								<th class="aEsquerda">Consultor</th>
								<th class="aDireita">Horas</th>
								<th class="aDireita">Candidatura</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="a : ${agendamento}"
								onclick="selecionaAgendamento(this)">
								<td class="aDireita" id="tdAgendamento" th:text="${a.idAgendamento}"></td>
								<td class="justificado" th:text="${a.pedido.titulo}"></td>
								<td class="justificado" th:text="${a.pedido.descricao}"></td>
								<td class="aEsquerda" th:text="${a.pedido.projeto.nome}"></td>
								<td class="aEsquerda" th:text="${a.pedido.projeto.produto}"></td>
								<td class="aEsquerda" th:text="${a.disponivel.consultor.nome}"></td>
								<td class="aDireita" th:text="${a.pedido.sugestaoDeHoras}"></td>
								<td class="centralizado" th:text="(${a.pedido.candidatura} == true)? 'Sim' : 'Não'"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="aDireita col-lg-4">
			<div id="fundoListaDeDisponibilidade" class="fundo">
				<h2>Lista de Disponibilidade</h2>
				<div id="rolagemListaDisponibilidade" class="rolagem">
					<table id="minhaTabela">
						<thead>
							<tr>
								<th class="aDireita">Cód.</th>
								<th class="aEsquerda">Consultor</th>
								<th class="centralizado">Hora Início</th>
								<th class="centralizado">Hora Fim</th>
								<th class="aDireita">Créditos/h</th>
								<th class="centralizado">Habilidades</th>
								<th class="escondidoNaLista">Habilidade Principal</th>
								<th class="escondidoNaLista">Habilidade Específica</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="d : ${disponiveis}" th:id="${d.idDisponivel}"
								onclick="SelecionaLinhaComConteudo(this)">
								<td class="aDireita" th:text="${d.idDisponivel}"></td>
								<td class="aEsquerda" th:text="${d.consultor.nome}"></td>
								<td class="centralizado" th:text="${d.horaInicio}"></td>
								<td class="centralizado" th:text="${d.horaFim}"></td>
								<td class="aDireita"
									th:text="${d.consultor.creditosPorHora}"></td>
								<td class="centralizado"><img class="btnHabilidades"
									th:src="@{/img/homeCliente/info.svg}"
									onclick="selLinha( this, false)"></td>
								<td class="escondidoNaLista">
									<table>
										<tbody>
											<tr th:each="h : ${d.consultor.habilidadesEspecificas}">
												<td
													th:text="${h.habilidadesPrincipais.nomeHabilidadePrincipal}"></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td class="escondidoNaLista">
									<table class="escondidoNaLista">
										<tbody>
											<tr th:each="h : ${d.consultor.habilidadesEspecificas}">
												<td th:text="${h.nomeHabilidadeEspecifica}"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>

				<div id="selecao" class="fundo painelInferiorQueTroca">
					<h2>Ações Agendamento</h2>
					<button class="buttonAprovarERecusar botoes" id="buttonAprovar"
						onclick="abreAprovar()">Aprovar</button>
					<button class="buttonAprovarERecusar botoes" id="buttonRecusar"
						onclick="abreReprovar()">Reprovar</button>
				</div>

				<div id="aprovar" class="fundo painelInferiorQueTroca">
					<!-- parte para terminar e fazer a parte de aprovar e reprovar	-->
					<button class="botaoDeFechar" onclick="abreSeletor()">X</button>
					<h2>Aprovar</h2>
					<form action="/homeLider/aprovar" method="post"
						th:object="${alocacoes}">
						<div class="formulario">
							<label>Cód. do Agendamento</label> <br> <input
								class="inputDadosAgendamento" name="agendamento" required
								oninvalid="this.setCustomValidity('Campo não pode ser vazio')"
								onchange="try{setCustomValidity('')}catch(e){}"> <br>
							<label>Motivo</label> <br> <input name="motivo">
							<button type="submit">Enviar</button>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</div>
						<div id="formulario"></div>
					</form>
				</div>

				<div id="reprovar" class="fundo painelInferiorQueTroca">
					<button class="botaoDeFechar" onclick="abreSeletor()">X</button>
					<h2>Reprovar</h2>
					<form action="/homeLider/reprovar" method="post"
						th:object="${recusado}">
						<div class="formulario">

							<label>Cód. do Agendamento</label><br> <input
								class="inputDadosAgendamento" name="agendamento" required
								oninvalid="this.setCustomValidity('Campo não pode ser vazio')"
								onchange="try{setCustomValidity('')}catch(e){}"> <label>Motivo</label><br>
							<input name="motivo" required
								oninvalid="this.setCustomValidity('Campo não pode ser vazio')"
								onchange="try{setCustomValidity('')}catch(e){}">

							<button type="submit">Enviar</button>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript">
		// Troca de itens da pagina
		function abreAprovar() {
			var aprovar = document.getElementById("aprovar");
			var selecao = document.getElementById("selecao");
			aprovar.style.display = "block"
			selecao.style.display = "none"
		}

		function abreReprovar() {
			var reprovar = document.getElementById("reprovar");
			var selecao = document.getElementById("selecao");
			reprovar.style.display = "block"
			selecao.style.display = "none"
		}

		function abreSeletor() {
			var aprovar = document.getElementById("aprovar");
			var reprovar = document.getElementById("reprovar");
			var selecao = document.getElementById("selecao");
			aprovar.style.display = "none"
			reprovar.style.display = "none"
			selecao.style.display = "block"
		}

		//Pop-up

		function aberturaDoPopUp() {
			var url_atual = window.location.href

			var sucessoNaUrl = url_atual.indexOf("aprovado")
			var erroNaUrl = url_atual.indexOf("reprovado")

			var modal = document.getElementById('avisoModal')

			if (sucessoNaUrl != -1 || erroNaUrl != -1) {
				$("#avisoModal").modal('show');
			}
		}

		function fecharPopUp() {
			$("#avisoModal").modal('hide');
		}

		// Tabela de habilidades

		var tabela = document.getElementById("minhaTabela");
		var linhas = tabela.getElementsByTagName("tr");

		function selLinha(neto, multiplos) {
			var filho = neto.parentNode;
			var linha = filho.parentNode;

			if (!multiplos) {
				var linhas = linha.parentElement.getElementsByTagName("tr");
				for (var i = 0; i < linhas.length; i++) {
					var linha_ = linhas[i];
					linha_.classList.remove("selecionado");
				}
			}
			linha.classList.toggle("selecionado");

			Visualizar();
		}

		function Visualizar() {
			var selecionados = tabela.getElementsByClassName("selecionado");
			if (selecionados.lenght < 1) {
				alert("Selecione pelo menos uma linha");
				return false;
			}

			var dados = "";

			for (var i = 0; i < selecionados.length; i++) {
				var selecionado = selecionados[i];
				selecionado = selecionado.getElementsByTagName("table");
			}

			var tabela1 = selecionado[0];
			var tabela2 = selecionado[1]

			var tdTabela1 = tabela1.getElementsByTagName("td");
			var tdTabela2 = tabela2.getElementsByTagName("td");

			for (var i = 0; i < tdTabela1.length; i++) {
				dados += "<p> Produto: " + tdTabela1[i].innerHTML
						+ " - Modulo: " + tdTabela2[i].innerHTML + "</p> <br>";
			}

			var cabecalhoModal = document.getElementById("cabecalhoModal")
			var corpoModal = document.getElementById("corpoModal")
			cabecalhoModal.innerHTML = "Habilidades"
			corpoModal.innerHTML = dados;

			$("#avisoModal").modal('show')

			return dados;
		}

		// Inserção de dados no input de cod. Aprovação pela lista

		function selecionaAgendamento(tr) {
			var tabela = document.getElementById("Agendamentos")
			var trs = tabela.getElementsByTagName("tr")

			for (i = 1; i < trs.length; i++) {
				trs[i].classList.remove("AgendamentoSelecionado")
			}

			tr.classList.toggle("AgendamentoSelecionado")

			var tds = tr.getElementsByTagName("td")

			var td = tds[0]

			var dados = td.innerHTML

			colocaInformacaoInput(dados, "inputDadosAgendamento")
		}

		function colocaInformacaoInput(dados, idInput) {
			var input = document.getElementsByClassName(idInput)

			for (i = 0; i < input.length; i++) {
				input[i].value = dados
			}
		}
	</script>
</body>
</html>