<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>HOME</title>
</head>
<body>

	Logged user:
	<span sec:authentication="name">Bob</span> 
	Roles:
	<span sec:authentication="principal.authorities">[ROLE_USER,
		ROLE_ADMIN]</span>

	<div sec:authorize="isAuthenticated()">

		<H1>INÍCIO :)</H1>
		This content is only shown to authenticated users.
	</div>
	<div sec:authorize="hasRole('ROLE_CLIENTE')">
		<H1>CLIENTE</H1>
	</div>
	<div sec:authorize="hasRole('ROLE_LIDER')">
		<H1>LIDER</H1>
	</div>
	<div sec:authorize="hasRole('ROLE_CONSULTOR')">
		<H1>CONSULTOR</H1>
	</div>


</body>
</html>