<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<title> Conecta | LOGIN</title>

<link rel="icon" type="imagem/png" href="../static/img/logo.png" th:href="@{/img/logo.png}"/>
    
<link rel="stylesheet" type="text/css" href="../static/css/DesignL.css" th:href="@{/css/DesignL.css}" />

</head>
<body>
	<!--   Deixar Invisivel - colocar Js. para exibir
        <div th:if="${param.logout}">
		<div>Até logo!</div>
	</div>-->
    <!-- Deixar Invisivel - pós validação de campo
	<div th:if="${param.error}">
		<div>Usuário e/ou senha inválidos!</div>
	</div> -->
	<div class="div">
		<form name ="formLogin" action="/login" method="post">
			<div>
				<input name="username" placeholder="E-mail" type="email" class="iconInputUsername" maxlength="45"/>
	           <br><br>
				<input name="password" type="password"  placeholder="Senha" class="iconInputPassword focus" maxlength="45"/>
                <br><br>
				<button name="Button" class="button border">Login</button>
			</div>

			<!--<div>
				<input type="checkbox" id="remember-me" name="remember-me" /> <label
					for="remember-me">Lembrar?</label>
			</div>-->

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>

	</div>

</body>
</html>