<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>TOTVS | Login</title>
<link rel="icon" type="imagem/png" href="static/img/logo_totvs.png" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/static/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="static/css/Style.css" rel="stylesheet"/>
</head>
<body>
<div>
		<form>
			<input class="input" id="Login" type="text" aria-label="Usuário" placeholder="Usuário">
			<br><br>
			<input class="input" id="Password" type="password" aria-label="Senha" placeholder="Senha">
			<br><br>
			<button class="button" name="button">Login </button>
			<br><br>
			<a class="ancora" href="#"> Ainda não é cadastrado?</a>
		</form>
    </div>

</body>
</html>