<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='../static/js/menu.js'></script>
    <link rel="stylesheet" type="text/css" media='screen' href="../static/css/menu.css"/>
    <!-- Fontes-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body id="body">
    <nav th:fragment="navMenu">
        <div id="menu">
            <a><img id="logo" src="../static/img/menu/logo.png" alt="TotvsConecta"/></a>
            <img class="linhaDeSeparacaoMenu" src="../static/img/menu/linhaDeSeparacaoMenu.png"/>
            <a><img id="icon" src="../static/img/menu/home.png" alt="Home"></a>
            <img class="linhaDeSeparacaoMenu" src="../static/img/menu/linhaDeSeparacaoMenu.png"/>
            <a><img id="icon" src="../static/img/menu/projetos.png" alt="Projetos"></a>
            <img class="linhaDeSeparacaoMenu" src="../static/img/menu/linhaDeSeparacaoMenu.png"/>
          <img id="userIcon" onclick="VisibilidadePainelUser()" src='../static/img/menu/userIcon.png'></a>
            <span id="sair">Sair</span>
        </div>
        <div id="linhaInferior">
        </div>
        <div id="selecaoDeCor">
		   <div id="caixaDeSelecao">
			   <span id="corDosPaineis">Cor dos paineis</span>
			   <div class="selecaoCorDosPaineis" onclick="imagem1()"> <img class="imagenSelecaoCorDosPaines" src="../static/img/menu/painel1.png"></div>
			   <div class="selecaoCorDosPaineis"  onclick="imagem2()"> <img class="imagenSelecaoCorDosPaines" src="../static/img/menu/painel2.png"></div>
			   <div class="selecaoCorDosPaineis" onclick="imagem3()"> <img class="imagenSelecaoCorDosPaines" src="../static/img/menu/painel3.png"></div>
			   <div class="selecaoCorDosPaineis" onclick="imagem4()"> <img class="imagenSelecaoCorDosPaines" src="../static/img/menu/painel4.png"></div>
			</div>
            <img id="fundoSelecaoCor" src="../static/img/menu/caixaDeSelecaoDeCor.png" >

        </div>
    </nav>
    
    
</body>
</html>