<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Relatórios | Líder</title>
<link rel="stylesheet" type="text/css" media="screen"
	th:href="@{/css/relatorios.css}" />
<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body id="menuBody">
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>

	<div id="content">
		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio">
				<br>
				<button class="buttonGerar">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio">
				<br>
				<button class="buttonGerar">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela formDeInpusRela2">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<button class="buttonGerar2Input">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela formDeInpusRela2">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<button class="buttonGerar2Input">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela formDeInpusRela2">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<button class="buttonGerar2Input">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela formDeInpusRela1">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<button class="buttonGerar1Input">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela formDeInpusRela1">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<button class="buttonGerar1Input">Gerar</button>
			</form>
		</div>

		<div class="fundo painelDeRelatorio">
			<img class="iconRelatorio" th:src="@{/img/relatorio/barChart.png}"
				alt="Relatorio" />
			<h3 class="nomeDoRelatorio">Nome Do Relatorio</h3>
			<br />
			<p>Breve descrição do relatorio que o cliente esta criando</p>
			<form class="formDeInpusRela formDeInpusRela1">
				<span class="span">input</span><br><input class="inputRelatorio"><br>
				<button class="buttonGerar1Input">Gerar</button>
			</form>
		</div>
		</div>
	</div>
</body>
</html>