<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Relatórios | Líder</title>
	<link rel="stylesheet" type="text/css" media="screen"
	th:href="@{/css/relatorios.css}" />
	<!--Sera substituido pelo fragmento head que contem associaçoes para menu funcionar-->
	<th:block th:replace="fragments/head :: head"></th:block>
</head>
<body id="menuBody">
	<!--Sera substituido pelo fragmento do menu-->
	<div th:replace="fragments/menuLider :: menu"></div>
	
	<div id="content">
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
		
		<div class="fundo painelDeRelatorio">
		</div>
	</div>
</body>
</html>